.background-tv {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: radial-gradient(#1c9778, #2abb77),
    linear-gradient(rgba(18, 16, 16, 0) 0%, rgba(0, 0, 0, 0.25) 30%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.02),
      rgba(0, 255, 0, 0.01),
      rgba(0, 0, 255, 0.02)
    );
  z-index: 2;
  background-size: 100% 6px, 100px 100%;
  height: 100vh;
}
