.card-edition {
  background: url("../assets/Editions.png") no-repeat;

  height: 95px;
  width: 71px;
}

.card-edition.negative {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.card-enhancer {
  background: url("../assets/Enhancers.png") no-repeat;

  height: 95px;
  width: 71px;
}

.card-rank {
  background: url("../assets/8BitDeck.png") no-repeat;

  height: 95px;
  width: 71px;
}
